<ion-view view-title="Account" >
<ion-header-bar class="bar-positive">
  <h1 class="title">Grub</h1>
</ion-header-bar>

  <ion-content>
    <ion-list>
      <ion-item class="item-icon-right" nav-direction="forward" href="#/addLocation">
      	Add Location
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right" nav-direction="forward" href="#/addDish">
      	Add Dish
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right">
      	Add Outlet
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>